.bg-gradient-custom {
    background: linear-gradient(90deg, #7E3AF2 0%, #D946EF 50%, #EC4899 100%);
}

.button-custom {
    background-color: #A855F7;
    border-radius: 9999px;
}

.button-custom:hover {
    background-color: #9333EA;
}

.header-bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
}