.wall-of-fame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    padding-top: 125%; /* 4:3 Aspect Ratio */
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wall-of-fame .image-container:nth-child(1) {
    grid-column: span 2;
  }
  
  .wall-of-fame .image-container:nth-child(2) {
    grid-column: span 2;
  }
  
  .wall-of-fame .image-container:nth-child(5) {
    grid-column: span 2;
  }
  
  .wall-of-fame .image-container:nth-child(6) {
    grid-column: span 2;
  }
  